:root {
  --wrapper-bg: #e3e9ff;
  --content-bg: #fff;
  --primary-bg: #af7eeb;

  --primary-color: #fff;
  --content-color: #747474;
}
body {
  margin: 0;
}

.wrapper {
  box-sizing: border-box;

  margin: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--wrapper-bg);

  font-family: Arial, Helvetica, sans-serif;
  padding-top: max(5vw, 2rem);

  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  max-width: 400px;

  margin: 0 auto;
}

.content {
  position: relative;
  width: 100%;
  box-sizing: border-box;

  padding: 2rem 3rem 4rem;

  display: flex;
  flex-direction: column;

  color: var(--content-color);
  background-color: var(--content-bg);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.add {
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
